<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="${currentdir}\logs\internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Sentry.NLog" />
  </extensions>
  
  <!--<variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->
  <variable name="ex" value="${exception:format=ToString}" />
  
  <!-- the targets to write to -->
  <targets async="true">
    <target xsi:type="File" name="LogFile" fileName="${currentdir}\logs\nlog-${shortdate}.log" 
            layout="${longdate} | ${uppercase:${level}} | ${message} | ${ex} | ${callsite:fileName=true:includeSourcePath=false:includeNamespace=false:className=false:methodName=false} | ${aspnet-request-url}" />

    <!--<target xsi:type="ColoredConsole" name="ColorConsole" layout="${DefaultLayout}" />-->
    <target xsi:type="ColoredConsole" name="ColorConsole" 
            layout="${longdate} | ${uppercase:${level}} | ${exception:format=type} : ${message} | ${callsite:fileName=true:includeSourcePath=false:includeNamespace=false:className=false:methodName=false}"/>

    <target xsi:type="Sentry"
            name="Sentry"
            dsn="https://492ee2a7115f4590a260cbb1ce7ec03c:4c773d19fb4f4e239975620990d58a0b@o1058549.ingest.sentry.io/6046288">

      <!-- Advanced options can be configured here-->
      <options
          sendDefaultPii="true"
        >
          <!--attachStacktrace="false"
          shutdownTimeoutSeconds="5"
          debug="false"-->
        <!--<includeEventDataOnBreadcrumbs>true</includeEventDataOnBreadcrumbs>-->
      </options>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ColorConsole" />
    <logger name="*" minlevel="Warn" writeTo="LogFile" />
    <logger name="*" minLevel="Error" writeTo="Sentry"/>
  </rules>
</nlog>